<html>

<head>
	<title>Facebook/Google SingIn</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {
			padding-top: 70px;
		}
	</style>
</head>

<body>
	<div>
		<div style ="display: flex;gap: 30px; align-items: center; justify-content: center;">
		<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
		<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Sign in with Google</a>
	</div>
	</div>
</body>

</html>